.channels {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: fit-content;
    overflow: visible;
    background-color: rgb(35, 35, 35);
}

.channels_container {
    padding: 0 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.channels_container::-webkit-scrollbar {
    display: none;
}