.channel {
    margin: 20px 0;
    overflow: visible;
}

.link {
    display: block;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    transition: .2s all ease-in;
    text-align: center;
}

.link:hover {
    border-radius: 30%;
}

.channel_modal {
    top: 0;
    left: 120%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    margin-top: 8px;
    padding: 5px 10px;
    display: block;
    visibility: hidden;
    max-height: 0;
    color: #fff;
    transition: 8s max-height ease-out, .2s visibility ease-in;
    width: fit-content;
}

.link:hover + .channel_modal {
    visibility: visible;
    max-height: 1000px;
}