.link {
    border-radius: 50%;
    transition: .2s all ease-in
}

.link:hover {
    border-radius: 30%;
}

.channel_modal {
    left: 120%;
    max-height: 0;
    width: fit-content;
    transition: 8s max-height ease-out, .2s visibility ease-in;
}

.link:hover + .channel_modal {
    visibility: visible;
    max-height: 1000px;
}