.channel {
    margin: 20px 0;
    overflow: visible;
}

.link {
    display: block;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    transition: .2s all ease-in;
    text-align: center;
}

.link:hover {
    border-radius: 30%;
}

.channel_modal {
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    margin-top: 8px;
    color: #fff;
    transition: 1s all ease-in-out;
}

.link:hover + .channel_modal {
    /* max-height: 500px; */
}